/* AvNet UltraZed EG IOCC Board Customization */

/* Sources used:
 * DTS file for Avnet Ultrazed-EG SoM
 * DTS file for Avnet IOCC Carrier Board
 * Andreas Galauner <andreas@galauner.de>
 *
 * SPDX-License-Identifier: GPL-2.0+
 */

/*
 * slew-rate = 1    == <SLEW_RATE_SLOW>
 * io-standard = 1  == <IO_STANDARD_LVCMOS18>
 * gpio flag 0 == GPIO_ACTIVE_HIGH
 */

/ {
	model = "Avnet XCZU3EG-SFVA625 SoM";

	aliases {
		gpio0 = &gpio;
		mmc1 = &sdhci1;
		mmc0 = &sdhci0;
		rtc0 = &rtc;
		serial0 = &uart0;
		serial1 = &uart1;
		usb0 = &usb0;
		spi0 = &qspi;
                i2c1 = &i2c1;
		ethernet0 = &gem3;
	};

	reserved-memory {
		#size-cells = <2>;
		#address-cells = <2>;
		ranges;

		optee_core@7e000000 {
			reg = <0x00 0x7fc00000 0x00 0x400000>;
			no-map;
		};

		optee_shm@7fc00000 {
			reg = <0x00 0x7e000000 0x00 0x1c00000>;
			no-map;
		};
	};

	leds {
		compatible = "gpio-leds";
		heartbeat_led {
			label = "heartbeat";
			gpios = <&gpio 31 0>;
			linux,default-trigger = "heartbeat";
		};
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};
};

&gpio {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio_default>;
};

&sdhci0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci0_default>;
};

&sdhci1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhci1_default>;
	disable-wp;
};

&uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart0_default>;
};

&uart1 {
        status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_default>;
};

&usb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_default>;
};

&dwc3_0 {
	status = "okay";
	dr_mode = "host";
	snps,usb3_lpm_capable;
	snps,enable_auto_retry;
	phy-names = "usb3-phy";
	/* 4==PHY_TYPE_USB3 */
	phys = <&psgtr 0 4 0 0>;
	maximum-speed = "super-speed";
};

&gem3 {
	#local-mac-address = [00 0a 35 00 02 90]; /* EMAC on EEPROM */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gem3_default>;
};

&i2c1 {
        status = "okay";
        clock-frequency = <400000>;
        pinctrl-names = "default", "gpio";
        pinctrl-0 = <&pinctrl_i2c1_default>;
        pinctrl-1 = <&pinctrl_i2c1_gpio>;
        scl-gpios = <&gpio 24 0>;
        sda-gpios = <&gpio 25 0>;
};

&mac_eeprom { /* U5 on UZ3EG IOCC and U7 on the UZ7EV EVCC*/
	board-sn@0 {
		reg = <0x00 0x14>;
	};
	eth-mac@20 {
		reg = <0x20 0x06>;
	};
	board-name@d0 {
		reg = <0xd0 0x06>;
	};
	board-revision@e0 {
		reg = <0xe0 0x03>;
	};
};

&psgtr {
	status = "okay"; /* Need to check if this is needed */
};

&pinctrl0 {
	status = "okay";

	pinctrl_gem3_default: gem3-default {
		mux {
			function = "ethernet3";
			groups = "ethernet3_0_grp";
		};

		conf {
			groups = "ethernet3_0_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO70", "MIO71", "MIO72", "MIO73", "MIO74", "MIO75";
			bias-high-impedance;
			low-power-disable;
		};

		conf-tx {
			pins = "MIO64", "MIO65", "MIO66", "MIO67", "MIO68", "MIO69";
			bias-disable;
			low-power-enable;
		};

		mux-mdio {
			function = "mdio3";
			groups = "mdio3_0_grp";
		};

		conf-mdio {
			groups = "mdio3_0_grp";
			slew-rate = <1>;
			io-standard = <1>;
			bias-disable;
		};
	};

	pinctrl_i2c1_default: i2c1-default {
		mux {
			groups = "i2c1_6_grp";
			function = "i2c1";
		};

		conf {
			groups = "i2c1_6_grp";
			bias-pull-up;
			slew-rate = <1>;
			io-standard = <1>;
                };
        };

	pinctrl_i2c1_gpio: i2c1-gpio {
		mux {
			groups = "gpio0_24_grp", "gpio0_25_grp";
			function = "gpio0";
		};

		conf {
			groups = "gpio0_24_grp", "gpio0_25_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};
	};

	pinctrl_sdhci1_default: sdhci1-default {
		mux {
			groups = "sdio1_0_grp";
			function = "sdio1";
		};

		conf {
			groups = "sdio1_0_grp";
			slew-rate = <1>;
			io-standard = <1>;
			bias-disable;
		};

		mux-cd {
			groups = "sdio1_cd_0_grp";
			function = "sdio1_cd";
		};

		conf-cd {
			groups = "sdio1_cd_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <1>;
			io-standard = <1>;
		};

		mux-wp {
			groups = "sdio1_wp_0_grp";
			function = "sdio1_wp";
		};

		conf-wp {
			groups = "sdio1_wp_0_grp";
			bias-high-impedance;
			bias-pull-up;
			slew-rate = <1>;
			io-standard = <1>;
		};
	};

	pinctrl_uart0_default: uart0-default {
		mux {
			groups = "uart0_8_grp";
			function = "uart0";
		};

		conf {
			groups = "uart0_8_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO34";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO35";
			bias-disable;
		};
	};

	pinctrl_uart1_default: uart1-default {
		mux {
			groups = "uart1_8_grp";
			function = "uart1";
		};

		conf {
			groups = "uart1_8_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO32";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO33";
			bias-disable;
		};
	};

	pinctrl_usb0_default: usb0-default {
		mux {
			groups = "usb0_0_grp";
			function = "usb0";
		};

		conf {
			groups = "usb0_0_grp";
			slew-rate = <1>;
			io-standard = <1>;
		};

		conf-rx {
			pins = "MIO52", "MIO53", "MIO55";
			bias-high-impedance;
	        };

		conf-tx {
			pins = "MIO54", "MIO56", "MIO57", "MIO58", "MIO59",
			       "MIO60", "MIO61", "MIO62", "MIO63";
			bias-disable;
		};
	};

	pinctrl_gpio_default: gpio-default {
		mux-led {
			function = "gpio0";
			groups = "gpio0_31_grp";
		};

	        conf-led {
			groups = "gpio0_31_grp";
			slew-rate = <1>;
			io-standard = <1>;
	        };

		conf-pull-none {
			/* PS User LED */
			pins = "MIO31";
			bias-disable;
		};
	};

	pinctrl_sdhci0_default: sdhci0-default {
		mux {
			groups = "sdio0_0_grp";
			function = "sdio0";
		};

		conf {
			groups = "sdio0_0_grp";
			slew-rate = <1>;
			io-standard = <1>;
			bias-disable;
		};
	};
};
