CONFIG_BOOTCOMMAND="setenv boot_targets 'usb0 mmc0'; load mmc 0:2 ${fdt_addr_r} dtb/${fdtfile}; run distro_bootcmd"
CONFIG_CMD_IMPORTENV=y
CONFIG_CMD_NVEDIT_INFO=y
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_VERBOSE=y
CONFIG_BOOTCOUNT_LIMIT=y
CONFIG_BOOTCOUNT_BOOTLIMIT=3
CONFIG_BOOTCOUNT_ENV=y
CONFIG_RSA=y
CONFIG_RSA_VERIFY=y
CONFIG_CMD_HASH=y

CONFIG_EFI_PARTITION=y
CONFIG_BOOTM_EFI=y
CONFIG_CMD_BOOTEFI=y
CONFIG_CMD_BOOTEFI_HELLO_COMPILE=y
CONFIG_CMD_BOOTEFI_HELLO=y
CONFIG_CMD_BOOTEFI_SELFTEST=y
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_GPT=y
CONFIG_CMD_NVEDIT_INFO=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_EFI_LOADER=y
CONFIG_EFI_VARIABLE_FILE_STORE=y
CONFIG_EFI_DEVICE_PATH_TO_TEXT=y
CONFIG_EFI_LOADER_HII=y
CONFIG_EFI_UNICODE_COLLATION_PROTOCOL2=y
CONFIG_EFI_UNICODE_CAPITALIZATION=y
CONFIG_EFI_HAVE_RUNTIME_RESET=y
CONFIG_EFI_IGNORE_OSINDICATIONS=y

CONFIG_DM_RTC=y
CONFIG_EFI_GET_TIME=y
CONFIG_EFI_SET_TIME=y
CONFIG_RTC_EMULATION=y

# CONFIG_WDT_MTK is not set

## Needs support in u-boot for firmware image description
#CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y
#CONFIG_EFI_CAPSULE_FIRMWARE=y
#CONFIG_EFI_CAPSULE_FIRMWARE_MANAGEMENT=y
#CONFIG_EFI_CAPSULE_FIRMWARE_FIT=y
#CONFIG_EFI_CAPSULE_FIRMWARE_RAW=y
#CONFIG_EFI_CAPSULE_ON_DISK=y
## CONFIG_EFI_CAPSULE_ON_DISK_EARLY is not set
